*{
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}
header{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 3% 9% 0 9%;
  transition: .2s;
}
.logo{
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.nav-bar{
  position: absolute;
  top: -50%;
  right: -100%;
  width: 20rem;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all .55s ease;
}

.nav-bar button{
  margin: 1rem 1rem 0 1rem;
  color: white;
  border-bottom: 0.2rem solid transparent;
  /* transition: all .3s ease; */
  display: block;
  cursor: pointer;
  border: none; 
  background: none; 
  padding: 0; 
  font: inherit;
}

.nav-bar.open{
  right: 0%;
  background: rgba(0, 0, 0, 0.85);
}


.nav-bar button:hover{
  border-bottom: 0.2rem solid white;
}

#menu-icon{
  color: white;
  font-size: 2rem;
  z-index: 100;
  cursor: pointer;
  display: block;
  transition: all .55s ease;
}
#menu-icon:hover{
  color: rgb(157, 155, 154);
  transform: translateY(-5px);
}
.hero{
  padding: 5% 10% 0% 15%;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to left, rgb(106, 143, 222),rgb(6, 71, 136));
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2rem;
}
.hero-text{
  min-width: 25rem;
  height: auto;
}
.hero-text h4{
  color: white;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 0.1rem solid white;
  padding-bottom: 1rem;
}
.hero-text h1{
  color: white;
  font-size: 4rem;
  font-family: 'Belanosima', sans-serif;
  margin: 1rem 0 1rem 0;
}
.hero-text p{
  margin-top: 1.5rem;
  color: white;
  line-height: 1.9;
  font-size: 1.2rem;
}
.hero-text button{
  color: white;
  display: inline-block;
  background:#0CC0DF;
  border: 1px solid transparent;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease;
  font-size: 1.2rem;
  padding: 12px 30px;
  line-height: 1.4;
  margin: 1rem 0.3rem;
  cursor: pointer;
}
.hero-text button:hover{
  /* background: transparent; */
  border: 1px solid white;
  transform: translateX(8px);
}
.hero-text button.ctaa{
  background: transparent;
  border: 1px solid white;
}
.hero-text button.ctaa:hover{
  background: white;
  color: black;
  border: 1px solid white;
}
.hero-text button.ctaa i{
  vertical-align: middle;
  margin-right: 5px;
}
.hero-img img{
  width: 35rem;
  height: auto;
}
.hero-img-anime img{
  position: relative;
  width: 35rem;
  height: auto;
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes example {
  0%   {top:0px;}
  50%  {top:10px;}
  100%   {top:0px;}
}
.icons{
  position: fixed;
  z-index: 100;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
.icons i{
  display: block;
  color: white;
  margin: 1rem;
  font-size: 24px;
  transition: all 0.55s ease;
}
.icons i:hover{
  color: rgb(157, 155, 154);
  transform: translateY(-5px);
}
.profile{
  padding: 10% 10% 10% 15%;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgb(223, 120, 76), rgb(183, 127, 103));
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2rem;
}
.skill{
  padding: 5% 10% 5% 10%;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to left, rgb(24, 40, 37),rgb(24, 40, 37));
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2rem;
}
.skill-text{
  min-width: 20rem;
  height: auto;
  text-align: center;
}
.skill-text h4{
  color: white;
  font-size: 2rem;
  font-weight: 600;
  border-bottom: 0.1rem solid white;
}
.others-web{
  padding: 5% 10% 0% 5%;
  width: 100%;
  height: 100%;
  min-height: 80vh;
  background-image: linear-gradient(to left, rgb(106, 143, 222),rgb(6, 71, 136));
  position: relative;
  display: block;
  place-items: center;
  gap: 2rem;
}
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img{
  width: 30rem;
  height: auto;
}

.image-overlay {
  position: absolute;
  padding: 10%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141C3A; /* Black with 50% opacity */
  opacity: 0; /* Hide the overlay by default */
  transition: all .55s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-overlay a{
  color: white;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 30px;
  text-transform: uppercase;
  transition: all 0.55s ease;
  font-size: 1rem;
  padding: 6px 15px;
  margin: 1rem 0.3rem;
  cursor: pointer;
}

.image-overlay a.ctaa{
  background: transparent;
  border: 1px solid white;
}
.image-overlay a.ctaa:hover{
  background: white;
  color: black;
  border: 1px solid white;
}
.image-overlay a.ctaa i{
  vertical-align: middle;
  margin-right: 5px;
}
.image-overlay p {
  color: white;
  font-size: 1rem;
  text-align: center;
}
.image-container:hover .image-overlay {
  opacity: 1; /* Show the overlay on hover */
}

.grid-container-web{
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  grid-gap: 1rem; 
  place-items: center;
  width: 100%;
  margin-top: 3rem;
}
.contact{
  padding: 5% 10% 0% 15%;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgb(223, 120, 76), rgb(183, 127, 103));
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 2rem;
}
.grid-container-program {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns with equal width */
  grid-gap: 1rem; 
}
.grid-container-front {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 1rem; 
}
.grid-container-back {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-gap: 1rem; 
}
.grid-item {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
}
.grid-item i{
  font-size: 2.2rem;
}




/* responsive pages */

@media (max-width: 1300px){
  .hero-img img{
    width: 30rem;
    height: auto;
    transition: .2s;
  }
  .hero-img-anime img{
    width: 30rem;
    height: auto;
    transition: .2s;
  }
}
@media (max-width: 1135px){
  .hero{
    grid-template-columns: 1fr;
    height: 100%;
    place-content: center;
  }
  .profile{
    grid-template-columns: 1fr;
    height: 100%;
    place-content: center;
  }
  .contact{
    grid-template-columns: 1fr;
    height: 100%;
    place-content: center;
  }
  .skill{
    grid-template-columns: 1fr;
    height: 100%;
    place-content: center;
  }
  .others-web{
    min-height: 60vh;
  }
}
@media (max-width: 500px){
  .hero-text{
    text-align: center;
    min-width: 20rem;
  }
  .hero-text h1{
    font-size: 2.5rem;
  }
  .hero-img img{
    width: 20rem;
    height: auto;
    transition: .2s;
  }
  .hero-img-anime img{
    width: 20rem;
    height: auto;
    transition: .2s;
  }
  .image-container img{
    width: 20rem;
    height: auto;
    transition: .2s;
  }
  .logo{
    font-size: 1.5rem;
  }
  .hero-text button{
    font-size: 10px
  }
  .hero-text p{
    font-size: 0.8rem;
  }
  .others-web{
    min-height: 40vh;
  }
  .grid-item {
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    padding: 0.1rem;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
  }
  .grid-item i{
    font-size: 1rem;
  }
  .image-overlay p {
    font-size: 0.75rem;
  }
  .image-overlay button{
    font-size: 0.75rem;
  }
}